:root {
    --corB1: #fff;  
    --corB2: #fff;  
    --corB3: #fff;  
    --corB4: #fff;  
    --corB5: #fff;  
    --corB6: #fff;  
    --corB7: #fff;  
    --corB8: #fff;  
    --corB9: #fff;  
    --corB10: #fff; 
    --corB11: #fff; 
    --corB12: #fff; 
    --corB13: #fff; 
    --corB14: #fff; 
    --corB15: #fff; 
    --corB16: #fff; 
    --corB17: #fff; 
    --corB18: #fff; 
    --corB19: #fff; 
    --corB20: #fff; 
    --corB21: #fff; 
    --corB22: #fff; 
    --corB23: #fff; 
    --corB24: #fff; 
    --corB25: #fff; 
    --corB26: #fff; 
    --corB27: #fff; 
    --corB28: #fff; 
    --corB29: #fff; 
    --corB30: #fff; 
    --corB31: #fff; 
    --corB32: #fff; 
    --corB33: #fff; 
    --corB34: #fff; 
    --corB35: #fff; 
    --corB36: #fff; 
    --corB37: #fff; 
    --corB38: #fff; 
    --corB39: #fff; 
    --corB40: #fff; 
    --corB41: #fff; 
    --corB42: #fff; 
    --corB43: #fff; 
    --corB44: #fff; 
    --corB45: #fff; 
    --corB46: #fff; 
    --corB47: #fff; 
    --corB48: #fff; 
    --corB49: #fff; 
    --corB50: #fff; 
    --corB51: #fff; 
    --corB52: #fff; 
    --corB53: #fff; 
    --corB54: #fff; 
    --corB55: #fff; 
    --corB56: #fff; 
    --corB57: #fff; 
    --corB58: #fff; 
    --corB59: #fff; 
    --corB60: #fff; 
    --corB61: #fff; 
    --corB62: #fff; 
    --corB63: #fff; 
    --corB64: #fff; 
    --corB65: #fff; 
    --corB66: #fff; 
    --corB67: #fff; 
    --corB68: #fff; 
    --corB69: #fff; 
    --corB70: #fefefe;

  }
  



.bolinhasBrancas-container {
    background-color: #08072D;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Garante que as bolinhas fiquem atrás do menu */
  }
  
  .bolinhaBranca {
    position: absolute;
    
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
  }
  
  
  .bolinhaBranca:nth-child(1n) {
    background-color: var(--corB1);
    top: 10%;
    left: 5%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 10px 5px var(--corB2);
}
.bolinhaBranca:nth-child(2n) {
    background-color: var(--corB2);
    top: 15%;
    left: 12%;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 10px 5px var(--corB2);
}
.bolinhaBranca:nth-child(3n) {
    background-color: var(--corB3);
    top: 20%;
    left: 25%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB3);
}
.bolinhaBranca:nth-child(4n) {
    background-color: var(--corB4);
    top: 37%;
    left: 3%;
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 10px 5px var(--corB4);
}
.bolinhaBranca:nth-child(5n) {
    background-color: var(--corB5);
    top: 60%;
    left: 80%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB5);
}
.bolinhaBranca:nth-child(6n) {
    background-color: var(--corB6);
    top: 18%;
    left: 60%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB6);
}
.bolinhaBranca:nth-child(7n) {
    background-color: var(--corB7);
    top: 22%;
    left: 70%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 10px 5px var(--corB7);
}
/* .bolinhaBranca:nth-child(8n) {
    background-color: var(--corB8);
    top: 8%;
    left: 20%;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px 5px var(--corB8);
} */
.bolinhaBranca:nth-child(9n) {
    background-color: var(--corB9);
    top: 14%;
    left: 45%;
    width: 13px;
    height: 13px;
    box-shadow: 0px 0px 10px 5px var(--corB9);
}
.bolinhaBranca:nth-child(10n) {
    background-color: var(--corB10);
    top: 28%;
    left: 10%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB10);
}
.bolinhaBranca:nth-child(11n) {
    background-color: var(--corB11);
    top: 35%;
    left: 22%;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 10px 5px var(--corB11);
}
.bolinhaBranca:nth-child(12n) {
    background-color: var(--corB12);
    top: 40%;
    left: 50%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB12);
}
.bolinhaBranca:nth-child(13n) {
    background-color: var(--corB13);
    top: 42%;
    left: 15%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB13);
}
.bolinhaBranca:nth-child(14n) {
    background-color: var(--corB14);
    top: 65%;
    left: 98%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB14);
}
.bolinhaBranca:nth-child(15n) {
    background-color: var(--corB15);
    top: 30%;
    left: 55%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB15);
}
.bolinhaBranca:nth-child(16n) {
    background-color: var(--corB16);
    top: 50%;
    left: 25%;
    width: 13px;
    height: 13px;
    box-shadow: 0px 0px 10px 5px var(--corB16);
}
.bolinhaBranca:nth-child(17n) {
    background-color: var(--corB17);
    top: 60%;
    left: 65%;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 10px 5px var(--corB17);
}
.bolinhaBranca:nth-child(18n) {
    background-color: var(--corB18);
    top: 60%;
    left: 87%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 10px 5px var(--corB18);
}
.bolinhaBranca:nth-child(19n) {
    background-color: var(--corB19);
    top: 48%;
    left: 15%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB19);
}
.bolinhaBranca:nth-child(20n) {
    background-color: var(--corB20);
    top: 20%;
    left: 65%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB20);
}
.bolinhaBranca:nth-child(21n) {
    background-color: var(--corB21);
    top: 25%;
    left: 30%;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 10px 5px var(--corB21);
}
.bolinhaBranca:nth-child(22n) {
    background-color: var(--corB22);
    top: 55%;
    left: 75%;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px 5px var(--corB22);
}
.bolinhaBranca:nth-child(23n) {
    background-color: var(--corB23);
    top: 13%;
    left: 42%;
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 10px 5px var(--corB23);
}
.bolinhaBranca:nth-child(24n) {
    background-color: var(--corB24);
    top: 5%;
    left: 90%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB24);
}
.bolinhaBranca:nth-child(25n) {
    background-color: var(--corB25);
    top: 60%;
    left: 10%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 10px 5px var(--corB25);
}
.bolinhaBranca:nth-child(26n) {
    background-color: var(--corB26);
    top: 45%;
    left: 25%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB26);
}
.bolinhaBranca:nth-child(27n) {
    background-color: var(--corB27);
    top: 35%;
    left: 38%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB27);
}
.bolinhaBranca:nth-child(28n) {
    background-color: var(--corB28);
    top: 28%;
    left: 48%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB28);
}
.bolinhaBranca:nth-child(29n) {
    background-color: var(--corB29);
    top: 12%;
    left: 52%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB29);
}
/* .bolinhaBranca:nth-child(30n) {
    background-color: var(--corB30);
    top: 8%;
    left: 78%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB30);
} */
.bolinhaBranca:nth-child(31n) {
    background-color: var(--corB31);
    top: 45%;
    left: 55%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 10px 5px var(--corB31);
}
.bolinhaBranca:nth-child(32n) {
    background-color: var(--corB32);
    top: 15%;
    left: 35%;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 10px 5px var(--corB32);
}
.bolinhaBranca:nth-child(33n) {
    background-color: var(--corB33);
    top: 25%;
    left: 65%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 10px 5px var(--corB33);
}
.bolinhaBranca:nth-child(34n) {
    background-color: var(--corB34);
    top: 60%;
    left: 50%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB34);
}
.bolinhaBranca:nth-child(35n) {
    background-color: var(--corB35);
    top: 70%;
    left: 88%;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 10px 5px var(--corB35);
}
.bolinhaBranca:nth-child(36n) {
    background-color: var(--corB36);
    top: 20%;
    left: 55%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB36);
}
.bolinhaBranca:nth-child(37n) {
    background-color: var(--corB37);
    top: 45%;
    left: 90%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB37);
}
.bolinhaBranca:nth-child(38n) {
    background-color: var(--corB38);
    top: 33%;
    left: 85%;
    width: 13px;
    height: 13px;
    box-shadow: 0px 0px 10px 5px var(--corB38);
}
.bolinhaBranca:nth-child(39n) {
    background-color: var(--corB39);
    top: 12%;
    left: 95%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 10px 5px var(--corB39);
}
.bolinhaBranca:nth-child(40n) {
    background-color: var(--corB40);
    top: 5%;
    left: 60%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB40);
}
.bolinhaBranca:nth-child(41n) {
    background-color: var(--corB41);
    top: 38%;
    left: 30%;
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 10px 5px var(--corB41);
}
.bolinhaBranca:nth-child(42n) {
    background-color: var(--corB42);
    top: 65%;
    left: 25%;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px 5px var(--corB42);
}
/* .bolinhaBranca:nth-child(43n) {
    background-color: var(--corB43);
    top: 20%;
    left: 18%;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 10px 5px var(--corB43);
} */
.bolinhaBranca:nth-child(44n) {
    background-color: var(--corB44);
    top: 25%;
    left: 8%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB44);
}
.bolinhaBranca:nth-child(45n) {
    background-color: var(--corB45);
    top: 55%;
    left: 65%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB45);
}
.bolinhaBranca:nth-child(46n) {
    background-color: var(--corB46);
    top: 75%;
    left: 15%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 10px 5px var(--corB46);
}
.bolinhaBranca:nth-child(47n) {
    background-color: var(--corB47);
    top: 35%;
    left: 80%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB47);
}
.bolinhaBranca:nth-child(48n) {
    background-color: var(--corB48);
    top: 45%;
    left: 72%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB48);
}
/* .bolinhaBranca:nth-child(49n) {
    background-color: var(--corB49);
    top: 10%;
    left: 82%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 10px 5px var(--corB49);
} */
.bolinhaBranca:nth-child(50n) {
    background-color: var(--corB50);
    top: 30%;
    left: 92%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB50);
}
.bolinhaBranca:nth-child(51n) {
    background-color: var(--corB51);
    top: 80%;
    left: 10%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 10px 5px var(--corB51);
}
/* .bolinhaBranca:nth-child(52n) {
    background-color: var(--corB52);
    top: 85%;
    left: 20%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB52);
} */
/* .bolinhaBranca:nth-child(53n) {
    background-color: var(--corB53);
    top: 90%;
    left: 30%;
    width: 13px;
    height: 13px;
    box-shadow: 0px 0px 10px 5px var(--corB53);
} */
.bolinhaBranca:nth-child(54n) {
    background-color: var(--corB54);
    top: 23%;
    left: 95%;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 10px 5px var(--corB54);
}
.bolinhaBranca:nth-child(55n) {
    background-color: var(--corB55);
    top: 50%;
    left: 5%;
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 10px 5px var(--corB55);
}
.bolinhaBranca:nth-child(56n) {
    background-color: var(--corB56);
    top: 3%;
    left: 13%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB56);
}
/* .bolinhaBranca:nth-child(57n) {
    background-color: var(--corB57);
    top: 88%;
    left: 70%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB57);
} */
.bolinhaBranca:nth-child(58n) {
    background-color: var(--corB58);
    top: 93%;
    left: 80%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB58);
}
.bolinhaBranca:nth-child(59n) {
    background-color: var(--corB59);
    top: 95%;
    left: 90%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB59);
}
/* .bolinhaBranca:nth-child(60n) {
    background-color: var(--corB60);
    top: 82%;
    left: 25%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 10px 5px var(--corB60);
} */
/* .bolinhaBranca:nth-child(61n) {
    background-color: var(--corB61);
    top: 84%;
    left: 35%;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 10px 5px var(--corB61);
} */
.bolinhaBranca:nth-child(62n) {
    background-color: var(--corB62);
    top: 75%;
    left: 5%;
    width: 13px;
    height: 13px;
    box-shadow: 0px 0px 10px 5px var(--corB62);
}
/* .bolinhaBranca:nth-child(63n) {
    background-color: var(--corB63);
    top: 70%;
    left: 75%;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 10px 5px var(--corB63);
} */
/* .bolinhaBranca:nth-child(64n) {
    background-color: var(--corB64);
    top: 85%;
    left: 65%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 10px 5px var(--corB64);
} */
/* .bolinhaBranca:nth-child(65n) {
    background-color: var(--corB65);
    top: 94%;
    left: 75%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB65);
} */
.bolinhaBranca:nth-child(66n) {
    background-color: var(--corB66);
    top: 96%;
    left: 85%;
    width: 6px;
    height: 6px;
    box-shadow: 0px 0px 10px 5px var(--corB66);
}
.bolinhaBranca:nth-child(67n) {
    background-color: var(--corB67);
    top: 83%;
    left: 95%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 10px 5px var(--corB67);
}
.bolinhaBranca:nth-child(68n) {
    background-color: var(--corB68);
    top: 86%;
    left: 5%;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 10px 5px var(--corB68);
}
.bolinhaBranca:nth-child(69n) {
    background-color: var(--corB69);
    top: 88%;
    left: 15%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 0px 10px 5px var(--corB69);
}
.bolinhaBranca:nth-child(70n) {
    background-color: var(--corB70);
    top: 80%;
    left: 87%;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px 5px var(--corB70);
}

  
  
  
  
 
  @keyframes pulse {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }