.container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;


    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        

        .titulo-cadastro {
            color: #D8D8D8;
            margin-bottom: 20px;
            font-size: 2.5rem;
            font-family: var(--font-family-ace);
            
        }

        

            .div-container-inputs {
                background-color: #262251;
                width: 79%;
                max-width: 430px;
                border-radius: 100px;
                padding: 60px 30px 10px 30px;          
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 85%;
                    div{
                        display: flex;
                        flex-direction: column;
                        min-height: 75px;
                        gap: 5px;
                        
                        span {
                            color: #CB2E2E;
                            font-size: 1.4rem;
                            margin-left: 15px;
                            font-family: 'Aldrich';
                          }
                    }

                    
                }
                
                
               
            }
        
    }
}



.container-buttons{
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 85%;
    max-width: 1430px;
    
}
.div-btnConcluir,
.div-btnVoltar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-btnConcluir {
    

    &__blur {
        position: absolute;
        z-index: 1;
        border-radius: 100%;
        height: 5rem;
        width: 12rem;
        background: rgba(104, 213, 203, 0.66);
        filter: blur(32.5px);
    }

    a {
        z-index: 5;

        .btn-concluir {
            z-index: 10;
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;

            &:hover {
                scale: 1.1;
                text-shadow: 0 0 5px #fff;
                cursor: pointer;
                transition: 0.3s;
            }

            span {
                font-family: var(--font-family-aldri);
                font-size: 2rem;

                &:active {
                    color: rgb(1, 170, 1);

                }
            }


        }
    }
}

.div-btnVoltar {
    

    &__blur {
        position: absolute;
        z-index: 1;
        border-radius: 100%;
        height: 5rem;
        width: 12rem;
        background: rgba(211, 211, 211, 0.53);
        filter: blur(32.5px);
    }

    a {
        z-index: 5;

        button {
            z-index: 10;
            display: flex;
            gap: 1rem;

            &:hover {
                scale: 1.1;
                text-shadow: 0 0 5px #fff;
                cursor: pointer;
                transition: 0.3s;
            }

            span {
                font-family: var(--font-family-aldri);
                font-size: 2rem;

                &:active {
                    color: rgb(6, 52, 151);

                }
            }
        }
    }
}