




.container-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    

    
    .void-cadastro{
        
        color: var(--cor-titulo);
        font-family: var(--font-family-ace);
        font-weight:600;
        font-style: normal;
        font-size: 3rem;
        letter-spacing: 20px;
            
            
        }
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    .titulo-cadastro{
        color: var(--cor-font-primaria);
        
        font-size: 2rem;
        font-family: var(--font-family-ace);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.247);
    }

    .container-candastro-inputs{
        background-color: var(--cor-fundo-principal);
        border-radius: 100px;

       .div-container-inputs{
            
           padding: 3rem;
            background-color: var(--cor-fundo-input);
            border-radius: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;


                
        .div-btnConcluir{
            display: flex;
            align-items: cennter;
            justify-content: center;
            
              .btn-concluir{
                border: none;
                background-color: transparent;
                color: var(--cor-font-primaria);
                font-size: 2rem;
                text-decoration: underline;
                text-underline-offset: 6px;
                z-index: 10;
                position: relative;
                &:hover{
                    scale: 1.1;
                    text-shadow: 0 0 5px #fff;
                    cursor: pointer;
                    transition: 0.3s;
                }  
    
            }
    
        }
                

           
            


        } 
    }

    
    
    
}




















