/* Define the angle property */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 100vh;
    position: relative;

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        .titulo-cadastro {
            color: #D8D8D8;
            font-size: 2.2rem;
            font-family: var(--font-family-ace);
            margin-bottom: 30px;
        }

        .div-container-inputs {
            background-color: #000000;
            width: 79%;
            max-width: 430px;
            border-radius: 80px;
            padding: 40px 50px 30px 50px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            
           
            &::after, 
            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: conic-gradient(
                    from var(--angle),
                    #eb207f,
                    #e4fa23,
                    #00ff99,
                    #006aff,
                    #000000,
                );
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                z-index: -1;
                padding: 5px;
                border-radius: 50px;
                animation: spin 7s linear infinite;
            }

            
            &::before {
                filter: blur(1.5rem);
                opacity: 0.5;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 85%;

                div {
                    display: flex;
                    flex-direction: column;
                    min-height: 75px;

                    span {
                        color: #ce0000;
                        font-size: 1.2rem;
                        font-family: monospace;
                        align-items: center;
                        text-align: left;
                        padding: 3px;
                    }
                }
            }

            .div-password-errors {
                min-height: 0;
                background-color: rgba(44, 44, 44, 0.671);
                border-radius: 20px;
                padding: 15px 15px;

                span {
                    font-size: 1rem;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


.container-buttons {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 50px;
    width: 85%;
    max-width: 1430px;
}