.btnAjuda-div{
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    button{
        width: px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        &:hover{
            scale: 1.2;
            transition: 0.5s;
            cursor: pointer;
        }
        img{
            width: 80px;
        }
    }
}
