@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

$font-family-menu: "Aldrich", sans-serif;

.containerMenuEntrar {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
    }

    .link-cadastro {
        text-decoration: none; // Agora o estilo do Link é controlado aqui
    }

    .btn-entrar, .btn-login {
        font-family: $font-family-menu;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        padding: 12px 24px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn-entrar {
        color: rgb(80, 79, 79);
    }

    .btn-entrar:hover {
        scale: 1.1;
        text-shadow: 0px 0px 10px rgb(43, 255, 0);
        color: rgb(255, 255, 255);
    }

    .btn-login {
        color: grey; // Exemplo de cor azul
    }

    .btn-login:hover {
        scale: 1.1;
        text-shadow: 0px 0px 10px rgb(43, 255, 0);
        color: rgb(255, 255, 255);
    }
}
