.custom-input{
    background: #00000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    color: #b3b3f7;
    font-size: 1.3rem;
    font-family: 'Aldrich';
    outline: 0;

    &::placeholder {
    font-family: var(--font-family-aldri);
    color: #dadada;
    
}
}
