@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');


$font-family: "Bruno Ace", sans-serif;


.titulo-void{
    color: #D8D8D8;
    font-family: 'Bruno Ace';
    font-weight:100;
    font-style: normal;
    font-size: 6rem;
    letter-spacing: 20px;
    padding-top: 2rem;
    
   
    
    
}




