:root {
    --azul: #2e82b9;  /* Alterado para Azul */
    --branco: #fff;  /* Azul */
    --verde: #00B027; /* Alterado para Verde */
    --rosa: #E603CF; /* Alterado para Magenta */
    --amarelo: #EBFF05; /* Amarelo Neon */
}
  

.bolinhas-container {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} 

.bolinha {
  position: absolute;
  border-radius: 50%;
  animation: pulse 0.7s infinite alternate;

  
}
  
  
