$cor-font-primaria: #fff;
$cor-fundo-principal: #08072dee;


.btnVoltar-div{
    background-color: $cor-fundo-principal;
    border-radius: 100%;
    button{
        background-color: transparent;
        border: none;
        img{
            width: 5rem;
            &:hover{
                scale: 1.2;
                transition: 0.3s;
                cursor: pointer;
                
            }
        }
    }
}
