:root{
    --font-family-ace : "Bruno Ace";
    --font-family-aldri: "Aldrich";
    --cor-font-primaria: #fff;
    --cor-fundo-principal: #000000;
    --cor-fundo-input: rgba(131, 118, 210, 0.28);
    --cor-input: #CAC9D6;
    --cor-titulo: #D8D8D8;
        
}