$font-family-ace : "Bruno Ace", sans-serif;
$font-family-aldri: "Aldrich", sans-serif;
$cor-font-primaria: #fff;
$cor-fundo-principal: #08072dee;
$cor-fundo-input: rgba(131, 118, 210, 0.28);
$cor-input: #CAC9D6;